.DS_Store
.dart_tool/

.idea

# ios workspace settings
ios/Runner.xcworkspace/xcsshareddata

.packages
.pub/

build/

.flutter-plugins

# coverage data is all temporary so ignore it
coverage/

# we don't want to check in secrets so keep this from being checked in
assets/data/apiConfiguration.json